
# ignore temp files
*.sw?
*.bak
*.pyc

#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/

# LuaCov output (stats and report)
luacov.*.out

# LuaUnit ignores
[Tt]est[Rr]esult*
*.sublime-project
*.lsln
*.sublime-workspace
doc/_build/
doc/html/
junit_stdout.txt
output_junit.xml
junit_stdout?.txt
output_junit?.xml
test/example*.txt
test/example*.xml
test/testWithXml*.xml
test/testWithXml*.txt
test/unitTests*.xml
test/unitTests*.txt
test/legacyExample.txt
test/legacyExampleError.txt
test/compat_luaunit_v2x.txt
test/errFailPass*.txt
test/errFailPass*.xml
test/some_lists_comparisons.txt

*.diff

#Emacs
*~
