# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  run:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      LUA: lua5.4
      LUANUMBER: double
      TRAVIS_OS_NAME: linux


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Install libxml2
        run: sudo apt-get install -y libxml2-utils

      # Runs a set of commands using the runners shell
      - name: Compile lua
        run: |
          source .travis/setup_lua.sh

      - name: Run unit-tests
        run: |
          lua -v -lluacov run_unit_tests.lua --shuffle
          
      - name: Run functional tests
        run: |
          lua run_functional_tests.lua --coverage
          
      - name: Run luacheck
        run: |
          luacheck example_with_luaunit.lua luaunit.lua run_unit_tests.lua run_functional_tests.lua test/

      - name: Collect coverage data
        run: |
          luacov-coveralls -v --include %./luaunit.lua
